/*
Aufgabe 2: Mau Mau, 
Name: Michel Orlik
Matrikel: 261185
Datum: 06.04.2019
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. 
*/
body
{
    background: rgba(24, 184, 170, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem
}
#Ablagestapel 
{
    color: rgba(0, 0, 0, 1);

    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: grey;
    width: 200px;
    height: 320px;
    top: 30px;
    left: 260px;
}
#Ziehstapel 
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: grey;
    width: 200px;
    height: 320px;
    top: 30px;
    left: 30px;
}
#Hand
{
    color: rgba(0, 0, 0, 1);
    border: solid black;
    border-style: outset;
    position: absolute;
    background: grey;
    width: 95%;
    height: 250px;
    top: 375px;
    left: 30px;
    bottom: 30px;
}
#Handkarten {
    color: white;
    border: solid black;
    position: absolute;
    background: rgb(138, 130, 130);
    width: 130px;
    height: 200px;
}
#a0
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a1
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a2
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a3
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a4
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a5
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a6
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a7
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a8
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a9
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}

#a10
{
    color: rgba(0, 0, 0, 1);
    border: solid black ;
    border-style: outset;
    position: absolute;
    background: white;
    width: px;
    height: px;
    top: px;
    left: px;
}